#faq,
.faq,
.faqs,
.descricao {
    display: flex;
    align-items: center;
    flex-flow: column;
}

#faq {
    min-height: 70vh;
    width: 100vw;
    padding: 6vh 5VW;
}

.faqs {
    gap: 1.5vh;
    margin-block: 3vh;
}

.topico {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80vw;
    height: 7vh;
    padding-inline: 5vw;
    border-radius: 10px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.4);

    background: #fff;
    z-index: 1;
}

.topico img {
    height: 1.5rem;
}

.descricao {
    display: none;

    width: 90%;
    transform: translateY(-5vh);
    gap: 1vh;
    padding: 2vh;
    border-radius: 0 0 10px 10px;
}

#faq video {
    width:100%;
    height: 40vh;
    margin-top: 5vh;

    background: black;
}