/* @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
  Comentei isso porque tava mexendo com as fontes, e também acho que o professor falou pra não importar css mas não tenho certeza
*/

/* Fontes */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

/* Variáveis */
:root {
  --preto: #2D2D2D;
  --branco: #FDFFF3;
  --primaria: #1E77D0;
}

/* Ajuste de rem */
html {
  font-size: 62.5% !important;
}

/* Reset css */
*,
a,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.8rem;
  font-family: "Roboto", Helvetica;
  color: var(--preto);
}


body {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

/* Principais títulos e subtítulos */
h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  padding: 2vh 5vw;
}

.logo-container,
.options {
  display: flex;
  align-items: center;
}

.logo {
  height: 3.5rem;
  padding-inline: 0.5rem;
}

.perfil {
  height: 3.5rem;
  width: 3.5rem;

  background: url('../images/icon_perfil.png') center/cover no-repeat;
  border: 0.2rem solid var(--preto);
  border-radius: 100vh;
}

/* Padronização das mains */
main {
  display: flex;
  align-items: center;
  flex-flow: column;
  height: 75vh;
  width: 100vw;
  padding: 0 5VW;
  overflow-y: scroll;
}


/* Padronização do card título inicial das páginas */
.titulo {
  text-align: center;
  font-size: 2rem;

  & * {
    margin-block: 2vh;
  }

  & p {
    font-size: 2rem;
  }
}

/* Menu inferior da versão mobile */
.bottom-menu ul {
  display: flex;
  justify-content: space-evenly;

  width: 100vw;
  padding-block: 2vh;

  background: var(--branco);

  & p {
    font-size: 1.5rem;
  }
}

.bottom-menu a,
.chatIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}

.chatIcon {
  visibility: hidden;
}

.chatIcon img {
  height: 3.9rem;
}

.icon {
  height: 3.5rem;
  width: 3.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-lembretes {
  height: 3rem;
  width: 3rem;
  margin-inline: 0.5rem;

  background-image: url('../images/icon_notificacao.png');
}

.icon-inicio {
  background-image: url('../images/icon_inicio.png');
}

.icon-guia {
  background-image: url('../images/icon_guia.png');
}

.icon-ajuda {
  background-image: url('../images/icon_ajuda.png');
}

.icon-mais {
  background-image: url('../images/icon_mais.png');
}

/* Inputs */
form {
  width: 100%;
}

label {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 1.5vh 4vw;
  border-radius: 1vw;
  outline: 2px solid rgba(0, 0, 0, 0.4);
  gap: 3vw;

  & img {
    height: 1.5rem;
    opacity: 0.5;
  }
}

input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background: var(--primaria);

  width: 100%;
  padding: 4vh 4vw;
  border-radius: 1rem;
  gap: 2vh;

  & p {
    font-size: 1.5rem;
    text-align: center;
    color: var(--branco);
  }
}

footer nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 2vh;

  & a {
    font-size: 1.2rem;
    color: var(--branco);
  }
}

.linha {
  height: 0.15rem;
  width: 100%;
  border-radius: 1rem;
  background: var(--branco);
}

/* // Localização
.active-inicio {
  background-image: url('../images/icon_inicio-active.png');
}

.active-guia {
  background-image: url('../images/icon_guia-active.png');
}

.active-ajuda {
  background-image: url('../images/icon_ajuda-active.png');
}

.active-mais {
  background-image: url('../images/icon_mais-active.png');
} */



/* 

 src="../images/icon_inicio.png" alt="Icone de casa"
 src="../images/icon_guia.png" alt="Icone de guia"
 src="../images/icon_ajuda.png" alt="Icone de ajuda"
c="../images/icon_mais.png" alt="Icone de 3 barras"
 src="../images/icon_chatbot.png" alt="Icone de robo"
  alt="Sino de notificações"

*/