/* @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
  Comentei isso porque tava mexendo com as fontes, e também acho que o professor falou pra não importar css mas não tenho certeza

*/

/* Fontes */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

html {
  font-size: 62.5% !important;
}

/* Reset css */
*,
a,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.5rem;
  font-family: "Roboto", Helvetica;
  color: #2D2D2D;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  
  height: 100vh;
}

h1 {
  font-size: 3rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  padding: 3vh 5vw 0 5vw;
}

.logo-container,
.options {
  display: flex;
  align-items: center;
}

.logo {
  height: 3.5rem;
  padding-inline: 0.5rem;
}

.notificacoes {
  height: 3rem;
  padding-inline: 0.5rem;
}

.perfil {
  height: 3.5rem;
  width: 3.5rem;

  background: #ffffff;
  border: 0.2rem solid #2D2D2D;
  border-radius: 100vh;
}

/* Menu inferior da versão mobile */

.bottom-menu ul {
  display: flex;
  justify-content: space-evenly;

  width: 100vw;
  padding-block: 2vh;

  background: #ffffff;

}

.bottom-menu a, .chatIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;

  & img {
    height: 3.5rem;
  }
}

.chatIcon img {
  height: 3.9rem;
}

/* Título inicial das páginas */
.titulo {
  text-align: center;
  font-size: 2rem;

  & * {
    margin-block: 2vh;
  }

  & p {
    font-size: 2rem;
  }
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  flex-flow: column;

  height: 10vh;
  padding-top: 1vh;
  gap: 2vh;

  text-align: center;
}

.linha {
  height: 1px;
  width: 80%;
  border-radius: 2px;
  background: black;
}