@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

html {
  font-size: 62.5% !important;
}

*,
a,
ul {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: #2D2D2D;
  font-size: 1.5rem;
}

header {
  height: 5vh;
  width: 100vw;
  padding: 1vh 0 0 5vw;
  position: fixed;
  top: 0;
}

.logo {
  font-size: 2rem;
}

nav {
  position: fixed;
  bottom: 0;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  
  width: 100vw;
  padding-block: 2vh;

  background: #ffffff;

}

nav li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;

  height: 8vh;

/* Até arrumar as imagens */
  & img:not(.vector-8) {
    height: 100%;
  }

  & .vector-8 {
    width: 100%;
    padding-top: 1vh;
  }
/* */
}

footer {
  display: flex;
  align-items: center;
  flex-flow: column;

  height: 10vh;
  padding-top: 1vh;
  gap: 2vh;

  text-align: center;
}

.linha {
  height: 2px;
  width: 90%;

  border-radius: 2px;
  
  background: black;
}