.titulo {
  text-align: center;
  margin-bottom: 1rem;
}

.titulo h1 {
  font-size: 4rem;
  color: #2f3640;
  margin-bottom: 1rem;
}

.titulo p {
  font-size: 1.5rem;
  color: #636e72;
}

/* Formulário */
form {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  max-width: 50rem;
  width: 100%;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

legend {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Campos do formulário */
form div {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  color: #2d3436;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"] {
  padding: 1rem;
  border: 1px solid #dcdde1;
  border-radius: 6px;
  font-size: 1rem;
  transition: border 0.3s ease;
}

input:focus {
  border-color: #00a8ff;
  outline: none;
}

/* Botão */
button {
  background-color: #00a8ff;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0091d1;
}