.faq,
.faqs,
.descricao {
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 94%;
}

.faqs {
    gap: 2vh;
    margin-block: 3vh;
}

.topico {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 2vh 5vw;
    border-radius: 1rem;

    background: var(--secundaria);
    z-index: 1;
}

.topico img {
    height: 1.5rem;
}

.descricao {
    display: none;
    width: 94%;
    transform: translateY(-5vh);
    padding: 2vh;
    border-radius: 0 0 10px 10px;
    gap: 1vh;

    background: var(--secundaria);
}

#faq video {
    width: 100%;
    height: 40vh;
    margin-top: 5vh;

    background: #000;
}

/* Faq aberta */
.clicked .topico {
    background: var(--primaria);

    & p {
        color: var(--branco);
    }

    & img {
        content: url('../images/variant-icon_seta.png');
    }
}

.clicked .descricao {
    display: flex;
}

.botaoContato {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    
    margin-block: 4vh 8vh;
    gap: 2vh;
}