/* Headers */
.header-mobile,
.header-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  padding: 2vh 5vw;
}

.header-desktop {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 3vw;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);

    & .logo {
        height: 4.5rem;
    }
}

.top-menu ul,
.top-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
}

.top-menu a {
    gap: 0.5vw;
    
    font-size: 1.5rem;
    text-decoration: underline solid var(--primaria) 0.25rem;
    text-underline-offset: 1rem;
}

.ativado,
.top-menu a:hover {
    font-weight: 700;
    text-decoration: underline solid var(--botao) 0.5rem !important;
    text-underline-offset: 0.75rem !important;
}

.logo-container,
.options {
  display: flex;
  align-items: center;
}

.logo {
  height: 3.5rem;
  padding-inline: 0.5rem;
}

.options .icon {
  height: 3rem;
  width: 3rem;
  margin-inline: 0.5rem;

  background: url('../images/icon_lembretes.png') center/contain no-repeat;
}

.perfil {
  height: 3.5rem;
  width: 3.5rem;

  background: url('../images/icon_perfil.png') center/cover no-repeat;
  border: 0.2rem solid var(--primaria);
  border-radius: 100vh;
}

/* Menu inferior da versão mobile */
.bottom-menu ul {
  display: flex;
  justify-content: space-evenly;

  width: 100vw;
  padding-block: 2vh;

  background: var(--branco);

  & p {
    font-size: 1.5rem;
  }
}

.bottom-menu a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}

.icon {
  height: 3.5rem;
}

.icon-inicio {
  content: url('../images/variant-icon_inicio.png');
}

.icon-guia {
  content: url('../images/variant-icon_guia.png');
}

.icon-ajuda {
  content: url('../images/variant-icon_ajuda.png');
}

.icon-mais {
  content: url('../images/variant-icon_mais.png');
}

.icon-lembretes {
  background: url('../images/variant-icon_lembretes.png') center/contain no-repeat !important;
  transform: scale(1.1);
}

.icon-perfil {
  background: url('../images/variant-icon_perfil.png') center/contain no-repeat;
  transform: scale(1.1);
}

.chatIcon {
  visibility: hidden;
}

/* Modal com o resto dos links */
.modal {
  display: flex;
  visibility: hidden;
  flex-flow: column;
  align-items: center;
  padding: 3vh 10vw 1vh 6vw;
  gap: 1vh;

  position: absolute;
  bottom: 17vh;
  right: 15vw;
  z-index: 1;

  background: var(--branco);
  border-radius: 1rem;
  box-shadow: 0 1vh 1rem rgba(0, 0, 0, 0.4);

  transition: visiblity 0.5 ease-in-out;
}

.modal ul {
  display: flex;
  flex-flow: column;
  gap: 2vh;
  width: 100%;

  & img {
    margin-right: 1vh;
  }
}

.modal img {
  height: 1.25rem;
}

.modal .botao {
  padding: 2vh 6vw;
}

.fechar {
  background: var(--branco) url('../images/icon_fechar.png') center/2rem no-repeat;
  padding: 2.5rem;
  border-radius: 2rem 2rem 0 0;

  position: absolute;
  top: -1.5rem;
  right: 0;
}

.fechar:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  background: var(--primaria);

  width: 100%;
  padding: 4vh 4vw;
  border-radius: 1rem;
  gap: 2vh;

  & p {
    font-size: 1.5rem;
    text-align: center;
    color: var(--branco);
  }
}

footer nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 2vh;

  & a {
    font-size: 1.2rem;
    color: var(--branco);
  }
}

.linha {
  height: 0.15rem;
  width: 100%;
  border-radius: 1rem;
  background: var(--branco);
}
