.lembretes-padrao {
    display: flex;
}

.lista-lembretes,
.lembrete {
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 100%;
    gap: 2vh;
}

.lista-lembretes {
    display: none;
    margin-block: 5vh;
}

.lembrete section {
    display: flex;
    justify-content: space-between;
    width: 100%;

    & img {
        height: 2rem;
    }
}

.lembrete {
    align-items: start;
    width: 90%;
    padding: 2vh 4vw;
    border-radius: 1rem;

    background: var(--secundaria);
}